@model Community.ViewModels.HomeInboxViweModel
@{
    ViewData["Title"] = "Inbox";
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
}

<h1>Inbox</h1>
<div class="w3-container">
    <h2>Sender List</h2>
    <ul class="w3-ul w3-card-4">
        @foreach (string Sender in Model.Senders)
        {
            <li class="w3-bar">
                <img src="~/css/img_avatar.png" class="w3-bar-item w3-circle w3-hide-small" style="width:85px">
                <div class="w3-bar-item">
                    @{ Dictionary<string, string> Parameters = new Dictionary<string, string>();
                        Parameters.Add("Sender", Sender);
                    }
                    <a class="w3-white w3-large" asp-area="" asp-controller="Home" asp-action="RecivedMessages" asp-all-route-data=Parameters>@Sender</a><br>
                    <span>Community member</span>
                </div>
            </li>
        }
    </ul>
</div>
<footer class="border-top footer text-muted">
    <div class="container">
        @Html.DisplayNameFor(model => Model.NumOfMessages)
        @Html.DisplayFor(model => Model.NumOfMessages)
        @Html.DisplayNameFor(model => Model.NumOfUnseenMessages)
        @Html.DisplayFor(model => Model.NumOfUnseenMessages)
        @Html.DisplayNameFor(model => Model.NumOfDeletedMessages)
        @Html.DisplayFor(model => Model.NumOfDeletedMessages)
    </div>
</footer>

