@model Community.ViewModels.HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        @Html.DisplayNameFor(model => model.LastLogin)
        @Html.DisplayFor(model => model.LastLogin)<br>
        @Html.DisplayNameFor(model => model.NumOfLoginsLastMonth)
        @Html.DisplayFor(model => model.NumOfLoginsLastMonth)<br>
        @Html.DisplayNameFor(model => model.NumOfUnseenMessages)
        @Html.DisplayFor(model => model.NumOfUnseenMessages)<br>
    </p>

</div>
